<html>
  <head>
    Web Guesser
  </head>
    <body>
    <% if message == "Way too low!" || message == "Way too high!" %>
    <% elsif message == "Too low!" || message == "Too high!" %>
    <% elsif message == "Correct! The secret number was #{SECRET_NUMBER}" %>
    <% end %>
    <p>
      <%= message %>
    </p>
    </body>
</html>

<form>
    <input type= 'text' name= 'guess' />
    <input type= 'submit' value='Guess!' />
</form>
